In [1]:
from nepal.datasets import NYTimes, Vaccinations

In [2]:
NYTimes.collect()
data = NYTimes.load()
data

              date      county       state   fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061      1       0
1       2020-01-22   Snohomish  Washington  53061      1       0
2       2020-01-23   Snohomish  Washington  53061      1       0
3       2020-01-24        Cook    Illinois  17031      1       0
4       2020-01-24   Snohomish  Washington  53061      1       0
...            ...         ...         ...    ...    ...     ...
2398617 2022-04-11  Sweetwater     Wyoming  56037  11065     124
2398618 2022-04-11       Teton     Wyoming  56039   9932      16
2398619 2022-04-11       Uinta     Wyoming  56041   5634      39
2398620 2022-04-11    Washakie     Wyoming  56043   2357      43
2398621 2022-04-11      Weston     Wyoming  56045   1588      18

[2398622 rows x 6 columns]

In [4]:
data.dtypes

date      datetime64[ns]
county            string
state             string
fips              string
cases             UInt64
deaths            UInt64
dtype: object