In [2]:
from nepal.datasets import NYTimes

In [3]:
NYTimes.collect([])
data = NYTimes.load()

In [4]:
data

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
328507  2022-04-11  Sweetwater     Wyoming  56037.0  11065   124.0
328508  2022-04-11       Teton     Wyoming  56039.0   9932    16.0
328509  2022-04-11       Uinta     Wyoming  56041.0   5634    39.0
328510  2022-04-11    Washakie     Wyoming  56043.0   2357    43.0
328511  2022-04-11      Weston     Wyoming  56045.0   1588    18.0

[2398622 rows x 6 columns]